.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reservation-container .notyfication {
  height: 3rem;
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.seats-container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 6px gray;
}
.seats-row {
  display: flex;
}

.seat-container {
  margin: 3px;
}

.empty-block {
  width: 55px;
  height: 40px;
  visibility: hidden;
}

.seat-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  transition: 0.2s;
}

.seat-container .seat-content {
  cursor: pointer;
}

.seat-content.unavailable {
  background-color: #444;
  cursor: auto;
}

.seat-content.reserved {
  background-color: #ff9933;
}

.seats-container .seat-content:not(.unavailable, .reserved):hover {
  background-color: #ffbf80;
  box-shadow: 0 0 12px #ffb366;
}

.seats-container .seat-content.reserved:hover {
  background-color: #ff8000;
  box-shadow: 0 0 12px #ff8000;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  padding: 3px;
}

.seat-description {
  display: flex;
  align-items: center;
}

.seat-description p {
  margin-left: 12px;
}

.bottom-container .ui.button {
  font-size: 1.4rem;
  padding: 1.25rem 4rem;
  margin: 0;
}
