@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  color: #262626;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 4rem;
  box-shadow: 2px 2px 4px grey;
}

.label-text {
  font-size: 1.2rem;
}

.home-container .ui.input {
  margin-left: 10px;
}

.home-container .ui.input > input {
  padding: 5px 8px;
}

.home-container .ui.button {
  padding: 15px 0;
  width: 100%;
  font-size: 1.25rem;
}

.home-container .ui.checkbox {
  margin: 25px 0;
  font-size: 1.2rem;
}

.home-container .ui.checkbox label {
  color: #262626;
  padding-left: 2rem;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.seats-container {
  display: flex;
  flex-direction: column;
}
.seats-row {
  display: flex;
}

.seat-container {
  margin: 3px;
}

.empty-block {
  width: 55px;
  height: 40px;
  visibility: hidden;
}

.seat-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 40px;
  border: 1px solid black;
}

.seat-content.unavailable {
  background-color: #444;
}

.seat-content.reserved {
  background-color: #ff9933;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  padding: 3px;
}

.seat-description {
  display: flex;
  align-items: center;
}

.seat-description p {
  margin-left: 12px;
}

.bottom-container .ui.button {
  font-size: 1.4rem;
  padding: 1.25rem 4rem;
  margin: 0;
}

.loader-position {
  height: 100%;
  position: relative;
}
